:root {
    --white: #fff;
    --dark: #082032;
    --blue1: #2C394B;
    --blue2: #334756;
    --orange: #FF4C29;
}

.card-custom {
    margin: 10px;
}

h4, h5, h6, h7, p {
    color: white;
}

.custom-nav {
    background-color: var(--blue2);
    padding-left:25px;
}

.head-custom {
    padding: 10px;
    border-bottom: none;
    background-color: var(--blue2);
}

body {
    background-color: var(--dark);
}

.businessImage {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.card .card-content {
    margin: 0px;
    background-color: var(--blue2);
}

.container-custom {
    width: 90%;
}

.row {
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

select {
    display: flex;
    align-items: center;
}

.icon-custom {
    background-color: var(--orange);
    transition: 0.3s ease-in-out;
}

.icon-custom:hover {
    background-color: #a5311a;
}

.btn {
    background-color: var(--orange);
    box-shadow: none;
}

.btn:hover {
  background-color: #a5311a;
}

h5 {
    margin: 0;
}
