:root {
  --white: #fff;
  --dark: #082032;
  --blue1: #2C394B;
  --blue2: #334756;
  --orange: #FF4C29;
}

header {
  height: 240px;
  background-image: url('./images/bg.jpg');
  background-position: center;
  margin-bottom: 20px;
  margin-left: 0px;
}

header div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  color: var(--white);
  font-size: 60px;
  margin-bottom: 20px;
}

h2, h5 {
  color: white;
}

p {
  color: white
}

select {
  width: 70vw;
  border-radius: 5px;
  margin-right: 5px;
}

h2 {
  text-align: center;
}

body {
  background-color:var(--dark);
}

.save-card {
  margin-bottom: 15px;
  background-color: var(--blue2) ;
}

.card-title {
  color: white;
}

.card-body {
  background-color: var(--blue1);
  display: center;
}

.list-card {
  margin: 0 10px 10px 10px;
  width: 300px;
  border-style: none;
}

.favorite-div {
  display: flex;
  flex-direction: column;
}

/* .favorite-company {
  border-radius: 5px;
  border: 1px solid var(--green);

  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
} */

.see-detail {
  background-color: var(--orange);
  border-style: none;
}

.btn-success {
  background-color: var(--orange);
  border-style: none;
}

.btn:hover {
  background-color: #a5311a;
}

#favMenu {
  background-color: var(--blue1);
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 2s ease-in-out;
}

.button {
  background-color: transparent;
  border-style: none;
  color: white;
}

.favorite-body {
  background-color: var(--blue1);
  border-radius: 0px;
  border-style: none;
  padding: 10px;
  border-bottom: solid rgba(245, 245, 245, 0.404) 1px;
}

.scrim {
  position: absolute;
  top:0;
  left:0;
  height: 240px;
  background-color: rgba(0, 0, 0, 0.589);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  padding: 20px;
}